@tailwind utilities;

:root {
  --background: 0 0% 98%;
}

html {
  min-height: 100%;
  font-family: "Onest", sans-serif;
  background: linear-gradient(#f6ff99, #476eae, #2c4b99);
  color: hsl(var(--background));
}

html.dark {
  min-height: 100%;
  font-family: "Onest", sans-serif;
  background: linear-gradient(#0A1337, #271A35, #4B2580);
  color: hsl(var(--background));
}

html.dark .login-form {
  background: linear-gradient(#621C4B, #2D6C77, #621C4B);
}

html.dark .default-form {
  background: linear-gradient(#621C4B, #2D6C77, #621C4B);
}

html.dark .nav-button-wrapper:hover {
  background: linear-gradient(#621C4B, #2D6C77, #621C4B);
}

html.dark .nav-button {
  color: #d9d9d9; 
}

html.dark input {
  background-color: #574d4d;
  border-color: #aaa;
  color: #f0f0f0;
}

a {
  text-decoration: none;
}

.login-form {
  border-radius: 20px;
  font-family: "Onest", sans-serif;
  background: linear-gradient(#eaa8a8, #58b58d);
  color: hsl(var(--background));
  width: 70%;
  max-width: 450px;
  min-height: 350px;
  max-height: 350px;
  box-shadow: -25px 40px 0px rgba(0, 0, 0, 0.25);
}

.default-form {
  border-radius: 10px;
  width: 100%;
  font-family: "Onest", sans-serif;
  background: linear-gradient(#eaa8a8, #58b58d);
  color: hsl(var(--background));
  box-shadow: -25px 40px 0px rgba(0, 0, 0, 0.25);
}

.nav-button-wrapper {
  display: inline-block;
  position: relative;
  border-radius: 9999px;
  width: 180px;
  height: 50px;
  padding: 2px;
  background-color: transparent;
  transition: background 0.3s;
}

.nav-button-wrapper:hover {
  background: linear-gradient(to right, #f6ff99, #476eae, #2c4b99);
}

.nav-button {
  display: block;
  border-radius: 9999px;
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  color: #1e40af;
  font-weight: 500;
  text-decoration: none;
}

form {
  margin: 10px;
  margin-bottom: 20px;
  padding: 10px;
}

input {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffeaeb;
  border-color: black;
  border-radius: 20px;
}
